[submodule "incbin"]
	path = deps/incbin
	url = https://github.com/graphitemaster/incbin.git
[submodule "rlutil"]
	path = deps/rlutil
	url = https://github.com/tapio/rlutil.git
[submodule "deps/mbedtls"]
	path = deps/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "minihttp"]
	path = deps/minihttp
	url = https://github.com/fgenesis/minihttp.git
	branch = ssl
